* {
  padding:0;
  margin:0;
}

body {
  background-color:black;
}

section {
  text-align:center;
  margin:15% 0;
}

div {
  width:100px;
  height:100px;
  display:inline-block;
  margin:1%;
  border-radius:50%;
}

.light {
  opacity:0.7;
}

#red {
  border:3px solid black;
  box-shadow:0 0 7px #fe0001;
  background-color:#fe0001;
}
#red:hover {
  opacity:1;
}

#orange {
  border:3px solid black;
  box-shadow:0 0 7px #fd5f00;
  background-color:#fd5f00;
}
#orange:hover {
  opacity:1;
}

#yellow {
  border:3px solid black;
  box-shadow:0 0 7px #ffff00;
  background-color:#ffff00;
}
#yellow:hover {
  opacity:1;
}

#green {
  border:3px solid black;
  box-shadow:0 0 7px #6fff00;
  background-color:#6fff00;
}
#green:hover {
  opacity:1;
}

#blue {
  border:3px solid black;
  box-shadow:0 0 7px #4d4dff;
  background-color:#4d4dff;
}
#blue:hover {
  opacity:1;
}

#violet {
  border:3px solid black;
  box-shadow:0 0 7px #993cf3;
  background-color:#993cf3;
}
#violet:hover {
  opacity:1;
}

#pink {
  border:3px solid black;
  box-shadow:0 0 7px #ff00ff;
  background-color:#ff00ff;
}
#pink:hover {
  opacity:1;
}

button {
  display:block;
  margin:1% auto 0 auto;
  padding:5px 10px;
  font-size:20px;
  border-radius:10px;
  outline:none;
}
button:hover {
  cursor:pointer;
}

